#bread-crumb {
  margin-bottom: 85px;

  .container ul {
    @include flex(flex-start, center, row, 10px);
    flex-wrap: wrap;

    li {
      img {
        margin-left: 10px;
      }

      a {
        white-space: nowrap;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .active {
      color: $Secondary;
      text-decoration: underline;

      @include respond-to(sm) {
        max-width: 350px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}