.dropdown-parent {
  .dropdown-btn {
    @include flex(space-between, center);
    width: 100%;
    cursor: pointer;
    position: relative;
    z-index: 10;
  }

  .dropdown-wrapper {
    position: relative;
    z-index: 0;
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, height 0.3s ease-in-out;
    opacity: 1;
  }

  .hidden-dropdown {
    height: 0;
    opacity: 0;
    visibility: hidden;
  }

  // rotate img
  img {
    transition: transform 0.3s ease-in-out;
  }

  .rotate-180 {
    transform: rotate(180deg);
  }
}

// <div class="dropdown-parent">
// <span class="dropdown-btn"
//   data-dropdown="(UNIQUE VALUE)">
//   <h6>
//   </h6>
//   <img src="../assets/icons/dropdown.svg"
//     id="icon-(UNIQUE VALUE)">
// </span>
// <div class="hidden-dropdown dropdown-wrapper"
//   id="dropdown-(UNIQUE VALUE)">
//   
// </div>
// </div>