 #mini-cart {
   transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
   position: fixed;
   top: 0;
   right: -6px;
   width: 90%;
   max-width: 670px;
   background-color: #FFF;
   padding: 29px 0px;
   height: 100vh;
   max-height: 1050px;
   z-index: 999;

   @include respond-to(md) {
     width: 100%;
   }

   .mini-cart-heading {
     margin-bottom: 23px;
     padding: 0px 42px 18px;

     h5 {
       @include flex(space-between, center, row)
     }
   }


   .shopping-bag-products {
     height: auto;
     max-height: 80%;
     overflow-y: auto;
     padding: 0px 42px;

     .product {
       @include flex(flex-start, center, row, 20px);
       padding-bottom: 23px;
       padding-bottom: 23px;
       margin-bottom: 23px;

       img {
         @include image-fit(124px, 124px, cover, center);

         @include respond-to(md) {
           @include image-fit(81px, 81px, cover, center);
         }
       }

       figcaption {
         width: 100%;

         p {
           margin-bottom: 28px;

           @include respond-to(md) {
             margin-bottom: 20px;
           }
         }

         .controls {
           @include flex(center, center, row, 15px);
           width: 100%;

           button {
             img {
               @include image-fit(35px, 35px, cover, center);
             }
           }

           .quantity {
             width: fit-content;
           }

           .delete {
             margin-left: auto;
           }
         }
       }
     }

     .subtotal-price {
       @include flex(space-between, center, row);
       padding-bottom: 6px;
       margin-bottom: 33px;
     }
   }

   .checkout-wrapper {
     padding: 29px 42px;
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     background: #FFF;

     .main-btn {
       width: 100% !important;
       height: 55px;
       line-height: 55px;
       padding-top: 0;
       padding-bottom: 0;
       margin: 0 auto;
     }
   }
 }