.toggle-wrapper {
  @include abs-position;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in;
}

.active-toggle-wrapper {
  visibility: visible;
  opacity: 1;
}

.toggle-parent {
  position: relative;
}

.toggle-btn {
  transition: color 0.3s ease-in-out;
}