@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  color: #000000;
  text-decoration: none;
  background: none;
  outline: none;
}

table,
th,
td {
  border-collapse: initial;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: unset;
  border: none;
}

a {
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

#wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  border: 1px solid #000;
}

.container {
  width: 90%;
  max-width: 520px;
  margin: 0 auto;
}

.p-regular-16px-400,
.p-regular-16px-700,
.p-regular-14px-500 {
  font-family: "Mulish";
  font-style: normal;
}

.p-regular-16px-400 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

.p-regular-14px-500 {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #FFF;
}

.p-subtitle-14px-300 {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}

.p-subtitle-14px-500 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #000;
}

.p-subtitle-14px-700 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
}

.p-subtitle-14px-400 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.p-regular-16px-700 {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #000;
}

h3 {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #000;
}

.a-special {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 0 26px;
  line-height: 56px;
  background: #BE4E2E;
  border-radius: 6px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFF;
}
.a-special:hover {
  background: #8F3B23;
  text-decoration: none;
}

.colored {
  color: #BE4E2E;
}

.greyish {
  color: #4A4A4A;
  white-space: nowrap;
}

.b-b {
  border-bottom: 1px solid #EFEFEF;
}

header {
  margin-bottom: 36px;
}
header .container img {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 31px auto 15px;
  width: 121.76px;
  height: 56.69px;
}
header p {
  width: 100%;
  text-align: center;
  background-color: #F2A124;
}

footer {
  width: 100%;
}
footer #footer__questions {
  width: 100%;
  background: #EEEEEE;
  border-radius: 6px;
  padding: 29px 38px;
}
footer #footer__questions thead tr th:first-of-type img {
  display: block;
  margin-right: 34px;
}
footer #footer__questions thead tr th:last-of-type {
  text-align: left;
}
footer #footer__questions thead tr th:last-of-type .p-regular-16px-700 {
  margin-bottom: 3px;
}
footer #footer__questions thead tr th:last-of-type .p-regular-16px-400 a {
  color: #BE4E2E;
  line-height: 24px;
}
footer #credits {
  background: #272727;
  padding: 28px 0;
}
footer #credits .container {
  text-align: center;
}
footer #credits .container p:first-of-type {
  margin-bottom: 3px;
}
footer #credits .container table {
  margin: 0 auto 3px;
}
footer #credits .container table thead tr th {
  padding-right: 9px;
}
footer #credits .container table thead tr th:last-of-type {
  margin-right: 0px;
}

main {
  margin-bottom: 94px;
}
main h3,
main p {
  text-align: left;
}
main a {
  color: #BE4E2E;
}
main a:hover {
  text-decoration: underline;
}
main #welcome {
  margin-bottom: 40px;
}
main #order-details {
  padding: 19px;
  background: #FFF6F0;
  margin-bottom: 36px;
}
main #order-details thead th {
  border-bottom: 2px solid #000000;
  padding-bottom: 13px;
}
main #order-details thead th:last-of-type p {
  text-align: right;
}
main #order-details tbody tr:first-of-type td {
  padding-top: 19px;
  padding-bottom: 1px;
  white-space: nowrap;
}
@media (max-width: 500px) {
  main #order-details tbody tr:first-of-type td {
    white-space: inherit;
  }
}
main #order-details tbody tr td {
  text-align: left;
  white-space: inherit;
}
main #order-details tbody tr td:first-of-type {
  padding-right: 42px;
  max-width: 162px;
}
main #order-details tbody tr td:nth-of-type(2) {
  padding-right: 39px;
  max-width: 195px;
}
@media (max-width: 500px) {
  main #order-details tbody tr td:first-of-type {
    padding-right: 10px;
    max-width: 162px;
  }
  main #order-details tbody tr td:nth-of-type(2) {
    padding-right: 10px;
    max-width: 195px;
  }
}
main #products-details {
  margin-bottom: 60px;
}
main #products-details thead tr th {
  padding-bottom: 20px;
  text-align: left;
}
main #products-details thead tr .product {
  padding-left: 32px;
}
main #products-details tbody tr td {
  vertical-align: top;
  padding-top: 16px;
  padding-bottom: 16px;
}
main #products-details tbody tr td:first-of-type {
  padding-right: 30px;
}
main #products-details tbody tr td:first-of-type img {
  width: 85px;
  height: 85px;
  border-radius: 6px;
}
main #products-details tbody tr td:nth-of-type(2) {
  padding-right: 45px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 122%;
  color: #000000;
}
main #products-details tbody tr td:nth-of-type(3) {
  padding-right: 92px;
}
main #products-details tbody tr td:nth-of-type(4) {
  text-align: right;
}
@media (max-width: 420px) {
  main #products-details tbody tr td:first-of-type {
    padding-right: 10px;
  }
  main #products-details tbody tr td:first-of-type img {
    width: 70px;
    height: 70px;
    border-radius: 3px;
  }
  main #products-details tbody tr td:nth-of-type(2) {
    padding-right: 25px;
  }
  main #products-details tbody tr td:nth-of-type(3) {
    padding-right: 55px;
  }
}
main #price-details {
  margin-bottom: 8px;
}
main #price-details tbody tr:first-of-type td {
  padding-top: 14px;
  border-top: 1px solid #EFEFEF;
}
main #price-details tbody tr:last-of-type td {
  padding-bottom: 20px;
  border-bottom: 1px solid #EFEFEF;
}
main #price-details tbody tr td:first-of-type {
  width: 100%;
  text-align: right;
  padding-right: 17px;
}
main #order-total {
  margin-bottom: 80px;
}
main #order-total tbody tr td:first-of-type {
  width: 100%;
  text-align: right;
  padding-right: 17px;
}/*# sourceMappingURL=style.css.map */