@import '../../main.scss';

// H E A D I N G    S T Y L E
#heading {
    margin-bottom: 52px;

    h3 {
        margin-bottom: 12px;
    }

    p {
        a {
            color: $Secondary;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

////////////////////////////////////////////////////////////
/// R E G I S T E R   S T Y LE
#reset-password {
    margin-bottom: 180px;
    width: 100%;

    label {
        width: 100%;
        max-width: 910px;
        height: 105px;
        justify-content: flex-start;
        // row-gap: 0;

        span {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .main-btn {
        height: 55px;
        width: 224px;
    }
}