.animate {
  transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
}

.fadeOutRight {
  opacity: 0;
  transform: translate3d(3000px, 0, 0) !important;
}

.hide-in-small-screens {
  @include respond-to(md) {
    opacity: 0;
    transform: translate3d(3000px, 0, 0) !important;
  }
}