@import '../1-abstracts/breakpoints';

// B O D Y
body {
  overflow-x: hidden;
  padding-top: 220px;
  scroll-behavior: smooth;
  background: $main-bg;

  @include respond-to(md) {
    padding-top: 300px;
  }
}

// C O N T A I N E R
.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1524px;

  @include respond-to(xxl) {
    width: 85%;
  }

  @include respond-to(lg) {
    width: 90%;
  }

  @include respond-to(sm) {
    width: 95%;
  }
}

// S C R O L L    B A R
// width
::-webkit-scrollbar {
  width: 6px;
}

// Track
::-webkit-scrollbar-track {
  background: #E7E7E7;
}

// Handle
::-webkit-scrollbar-thumb {
  border-radius: 21px;
  background-color: $Secondary;
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: #ca8370;
}



// L A B E L -> I N P U T S ,   T E X T A R E A   
// &   S E L E C T 
label {
  @include flex(center, flex-start, column, unset, 5px);
  margin-bottom: 12px;
  width: 100%;
  position: relative;

  i {
    color: $Utility-danger;
  }

  textarea,
  input,
  select,
  option {
    width: 100%;
    max-width: 550px;
    height: 56px;
    background: #FBFBFB;
    border: 1px solid $-gray-100;
    border-radius: 8px;
    padding: 10px;
  }

  input[type='radio'] {
    accent-color: $Secondary;
    width: 18px;
    height: 18px;
  }

  input[type='checkbox'] {
    accent-color: $Secondary;
    width: 18px;
    height: 18px;
  }

  textarea {
    height: 100px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// I N V A L I D    M E S S A G E 
.invalid-msg {
  color: $Secondary;
  @include flex(flex-start, center, row, 7px);
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
}

.invalid-input {
  border-color: $Utility-danger;
}

// B O R D E R    B O T T O M
.main-border-bottom {
  border-bottom: 1px solid $-gray-100;
}

// T A G 
.tag {
  background: $-primary-50;
  border: 1px solid $-primary-200;
  border-radius: 36px;
  padding: 6px 22px;
  @include flex(center, center, row, 7.5px);
}


// C L A S S E S
.hover-img {
  transition: transform 0.4s ease-in-out;
  width: fit-content;
  height: fit-content;

  &:hover {
    transform: scale(1.03);
  }
}

.tx-green {
  color: $Utility-success;
}

.tx-danger {
  color: $Utility-danger;
}

.tx-secondary {
  color: $Secondary;
}