button {
  cursor: pointer;
}

.main-btn {
  width: 197px;
  padding: 8px 0px;
  text-align: center;
  height: 40px;
  background: $Secondary;
  border-radius: 6px;
  color: #FFF !important;
  transition: transform 0.2s ease-in-out;

  @include respond-to(sm) {
    width: 47.5%;
  }

  &:hover {
    background-color: $-primary-600;
    transform: scale(1.02);
  }
}

.sec-btn {
  width: 197px;
  padding: 8px 0px;
  text-align: center;
  height: 40px;
  border: 0.5px solid #000000;
  border-radius: 6px;
  transition: transform 0.2s ease-in-out;

  @include respond-to(sm) {
    width: 47.5%;
  }

  &:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: scale(1.02);
  }
}