@import '../main.scss';

nav {
  // A N I M A T I O N
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-100%);

  // transition
  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  animation: slideDown 0.5s ease-in-out forwards;

  /////////////////////////////////
  // U P P E R    N A V   P A R T
  .upper-nav-wrapper {
    width: 100%;
    padding: 9px 0px;
    background: url('../../images/header/navBG.png');
    margin-bottom: 10px;

    .upper-nav-container {
      width: fit-content;
      margin: 0 auto;
      @include flex;
      flex-wrap: wrap;
      row-gap: 5px;

      // S H I P P I N G
      .shipping-label {
        color: #FFF;
        background-color: #D71920;
        padding: 2px 12px;
        border-radius: 18px;
        margin-right: 22px;
      }

      .contact {
        @include flex;
      }

      .g1 {
        margin-right: 15px;

        &:last-child {
          margin-right: 50px;
        }
      }

      .g2 {
        margin-right: 23px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }


  /////////////////////////////////
  // L O W E R    N A V   P A R T
  .lower-nav-wrapper {
    width: 90%;
    max-width: 1650px;
    margin: 0 auto;

    @include respond-to(xxl) {
      width: 100%;
    }

    .lower-nav-container {
      padding: 17px 60px;
      @include flex;
      background: #FFFFFF;
      box-shadow: $main-shadow;
      border-radius: 50px;

      @include respond-to(xxl) {
        display: grid;
        grid-template-columns: min-content min-content auto min-content;
        row-gap: 15px;
        border-radius: 0px;
        justify-content: unset;
        padding: 7px 5%;
      }

      @include respond-to(xxl) {
        padding: 7px 2%;
      }

      .logo {
        margin-right: 61px;

        @include respond-to(sm) {
          margin-right: 20px;
        }


        img {
          height: 56px;
          width: 121px;
          object-position: center;
          object-fit: contain;
          display: block;

          @include respond-to(sm) {
            width: 92px;
            height: 42.5px;
          }
        }
      }

      .shop-icon-wrapper {
        position: relative;
        margin-right: 30px;
        cursor: pointer;
        width: fit-content;
        display: block;
        @include flex(center, center, column, 0, 4px);

        @include respond-to(sm) {
          margin-right: 15px;
        }

        .shop-icon {
          height: 20px;
          display: block;
          width: 45px;
        }
      }

      .search-bar-wrapper {
        flex-grow: 1;
        max-width: 887px;
        @include flex;
        background: #FBFBFB;
        border: 1px solid #DBDBDB;
        border-radius: 6px;
        padding: 0px 20.5px;
        margin-right: 45px;
        position: relative; // for the mega menu

        @include respond-to(xxl) {
          grid-column: 1 / 5;
          grid-row: 2 / 2;
          max-width: none;
          margin-right: 0px;
        }

        @include respond-to(sm) {
          padding: 0px 2.5%;
        }

        .search-bar-dd {
          @include flex;
          column-gap: 22px;
          padding: 16px 20.5px 16px 0px;
          border-right: 1px solid #DBDBDB;
          cursor: pointer;

          .search-dd-icon {
            transition: transform 0.3s ease-in-out;
          }
        }

        .input-wrapper {
          position: relative;
          flex-grow: 1;

          .search-input {
            padding: 16px 0px 16px 33px;
          }

          .search-icon {
            position: absolute;
            top: 50%;
            left: 165px;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background-image: url('../../icons/music-note.svg');
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
          }

          /* hide the placeholder text when the input field is not empty */
          .search-input:not(:placeholder-shown)+.search-icon {
            display: none;
          }
        }
      }

      .customer-wrapper {
        margin-right: 34px;

        @include respond-to(sm) {
          margin-right: 15px;
        }

        figure {
          @include flex(flex-end, center, row);
          column-gap: 10px;

          img {
            width: 52px;
            height: 52px;
            border-radius: 50%;
            object-position: center;

            @include respond-to(sm) {
              width: 31px;
              height: 31px;
            }
          }

          figcaption {
            text-align: left;
            width: fit-content;

            @include respond-to(md) {
              display: none;
            }

            .controls {
              @include flex;
              column-gap: 5px;
              white-space: nowrap;

              a:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      .icons {
        @include flex;

        #wishlist-btn {
          margin-right: 34px;
          position: relative;

          @include respond-to(sm) {
            margin-right: 18px;
          }

          cursor: pointer;
          display: block;

          .p-small-12px-400 {
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
          }

          &:hover .p-small-12px-400 {
            opacity: 1;
          }
        }

        #cart-btn {
          position: relative;
          cursor: pointer;
          display: block;

          .cart-items-number {
            position: absolute;
            bottom: -24%;
            left: -17%;
            background: #F2A124;
            color: #FFF;
            padding: 3px 5px;
            border-radius: 50%;
          }

          .p-small-12px-400 {
            position: absolute;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
          }

          &:hover .p-small-12px-400 {
            opacity: 1;
          }
        }
      }
    }
  }
}