@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap");
.tx-green {
  color: #0DAA26;
}

.tx-danger {
  color: #E2574C;
}

.tx-secondary {
  color: #BE4E2E;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  color: #000000;
  text-decoration: none;
  background: none;
  outline: none;
}

table,
th,
td {
  border-collapse: initial;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: unset;
  border: none;
}

a {
  cursor: pointer;
}

/**
 * Swiper 8.4.5
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2022 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: November 21, 2022
 */
@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff ;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
          margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
          margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}

.swiper-virtual .swiper-slide {
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
}

.swiper-virtual.swiper-css-mode .swiper-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after {
  height: 1px;
  width: var(--swiper-virtual-size);
}

.swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after {
  width: 1px;
  height: var(--swiper-virtual-size);
}

:root {
  --swiper-navigation-size: 44px ;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-next.swiper-button-hidden,
.swiper-button-prev.swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.swiper-navigation-disabled .swiper-button-next,
.swiper-navigation-disabled .swiper-button-prev {
  display: none !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
}

.swiper-button-lock {
  display: none;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-pagination-disabled > .swiper-pagination,
.swiper-pagination.swiper-pagination-disabled {
  display: none !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-mini-cart-active {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-mini-cart-active-main {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-mini-cart-active-prev {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-mini-cart-active-prev-prev {
  transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-mini-cart-active-next {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-mini-cart-active-next-next {
  transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inmini-cart-active-color, #000);
  opacity: var(--swiper-pagination-bullet-inmini-cart-active-opacity, 0.2);
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet:only-child {
  display: none !important;
}

.swiper-pagination-bullet-mini-cart-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 0.2s transform, 0.2s top;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 0.2s transform, 0.2s left;
}

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 0.2s transform, 0.2s right;
}

.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}

.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

.swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-vertical > .swiper-pagination-progressbar {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-lock {
  display: none;
}

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

.swiper-scrollbar-disabled > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-disabled {
  display: none !important;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

.swiper-scrollbar.swiper-scrollbar-vertical,
.swiper-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

.swiper-scrollbar-lock {
  display: none;
}

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swiper-zoom-container > canvas,
.swiper-zoom-container > img,
.swiper-zoom-container > svg {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.swiper-slide-zoomed {
  cursor: move;
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader,
.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff ;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000 ;
}

@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.swiper .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-grid > .swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-grid-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}

.swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}

.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}

.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-fade .swiper-slide-mini-cart-active,
.swiper-fade .swiper-slide-mini-cart-active .swiper-slide-mini-cart-active {
  pointer-events: auto;
}

.swiper-cube {
  overflow: visible;
}

.swiper-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

.swiper-cube .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-cube.swiper-rtl .swiper-slide {
  transform-origin: 100% 0;
}

.swiper-cube .swiper-slide-mini-cart-active,
.swiper-cube .swiper-slide-mini-cart-active .swiper-slide-mini-cart-active {
  pointer-events: auto;
}

.swiper-cube .swiper-slide-mini-cart-active,
.swiper-cube .swiper-slide-next,
.swiper-cube .swiper-slide-next + .swiper-slide,
.swiper-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible;
}

.swiper-cube .swiper-slide-shadow-bottom,
.swiper-cube .swiper-slide-shadow-left,
.swiper-cube .swiper-slide-shadow-right,
.swiper-cube .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 0;
}

.swiper-cube .swiper-cube-shadow:before {
  content: "";
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  filter: blur(50px);
}

.swiper-flip {
  overflow: visible;
}

.swiper-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-flip .swiper-slide-mini-cart-active,
.swiper-flip .swiper-slide-mini-cart-active .swiper-slide-mini-cart-active {
  pointer-events: auto;
}

.swiper-flip .swiper-slide-shadow-bottom,
.swiper-flip .swiper-slide-shadow-left,
.swiper-flip .swiper-slide-shadow-right,
.swiper-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-creative .swiper-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  transition-property: transform, opacity, height;
}

.swiper-cards {
  overflow: visible;
}

.swiper-cards .swiper-slide {
  transform-origin: center bottom;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

.animate {
  transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
}

.fadeOutRight {
  opacity: 0;
  transform: translate3d(3000px, 0, 0) !important;
}

@media (max-width: 768px) {
  .hide-in-small-screens {
    opacity: 0;
    transform: translate3d(3000px, 0, 0) !important;
  }
}

button {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  display: block;
}
button:hover {
  transform: scale(1.02);
}

.main-btn {
  padding: 8px 26px;
  white-space: nowrap;
  text-align: center;
  height: 55px;
  background: #BE4E2E;
  border-radius: 6px;
  color: #FFF !important;
}
@media (max-width: 576px) {
  .main-btn {
    width: 47.5%;
  }
}
.main-btn:hover {
  background-color: #8F3B23;
}

.sec-btn {
  width: 197px;
  padding: 8px 0px;
  text-align: center;
  height: 55px;
  border: 0.5px solid #000000;
  border-radius: 6px;
}
@media (max-width: 576px) {
  .sec-btn {
    width: 47.5%;
  }
}
.sec-btn:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sub-btn {
  width: 197px;
  padding: 8px 0px;
  text-align: center;
  height: 55px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 576px) {
  .sub-btn {
    width: 47.5%;
  }
}
.sub-btn:hover {
  border: 0.5px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.dark-btn {
  height: 55px;
  display: block;
  padding: 11px 26px;
  border-radius: 4px;
  background-color: #000;
  color: #FFF;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.dark-btn:hover {
  opacity: 0.9;
  transform: scale(1.02);
}
.dark-btn:focus, .dark-btn:active {
  outline: none;
  box-shadow: none;
  opacity: 0.9;
  transform: scale(1.02);
}
@media (max-width: 768px) {
  .dark-btn {
    border-radius: 31px;
  }
}

.clear-btn {
  height: 55px;
  border: 1px solid #BE4E2E;
  border-radius: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Serif Pro", serif;
  font-style: normal;
}

h1 {
  font-size: 6rem;
  line-height: 6rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
    line-height: 3.25rem;
  }
}

h2 {
  font-size: 3.125rem;
  line-height: 3.75rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  h2 {
    font-size: 2rem;
    line-height: 2.625rem;
  }
}

h3 {
  font-size: 2.5rem;
  line-height: 3.125rem;
  font-weight: 600;
}
@media (max-width: 768px) {
  h3 {
    font-size: 1.5625rem;
    line-height: 2.375rem;
  }
}

h4 {
  font-size: 1.875rem;
  line-height: 2.5rem;
  font-weight: 400;
}
@media (max-width: 768px) {
  h4 {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
}

h5 {
  font-size: 1.5625rem;
  line-height: 2.1875rem;
  font-weight: 600;
}
@media (max-width: 768px) {
  h5 {
    font-size: 1.25rem;
    line-height: 2.1875rem;
  }
}

h6 {
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 400;
}
@media (max-width: 768px) {
  h6 {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 400;
  }
}

.p-regular-16px-400,
.p-regular-16px-700,
.p-subtitle-14px-300,
.p-subtitle-14px-500,
.p-small-12px-400,
.p-small-12px-600 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
}

.p-regular-16px-400 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

.p-regular-16px-700 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 160%;
}

.p-subtitle-14px-300 {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.p-subtitle-14px-500 {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 150%;
  color: #BE4E2E;
}

.p-subtitle-14px-600 {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 150%;
}

.p-small-12px-400 {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.9375rem;
}

.p-small-12px-600 {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 0.9375rem;
}

.a-link-16px {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000000;
}
.a-link-16px:hover {
  text-decoration-line: underline;
}

.buttontext {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

.badge {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 0.9375rem;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  color: #000000;
}

.current-price {
  color: #0DAA26;
}

.discounted-price {
  color: #717171;
}

.normal-price {
  color: #BE4E2E;
}

body {
  overflow-x: hidden;
  padding-top: 220px;
  scroll-behavior: smooth;
  background: #FFF6F0;
}
@media (max-width: 768px) {
  body {
    padding-top: 300px;
  }
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1524px;
}
@media (max-width: 1400px) {
  .container {
    width: 85%;
  }
}
@media (max-width: 992px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .container {
    width: 95%;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #E7E7E7;
}

::-webkit-scrollbar-thumb {
  border-radius: 21px;
  background-color: #BE4E2E;
}

::-webkit-scrollbar-thumb:hover {
  background: #ca8370;
}

label {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: 5px;
  margin-bottom: 12px;
  width: 100%;
  position: relative;
}
label i {
  color: #E2574C;
}
label textarea,
label input,
label select,
label option {
  width: 100%;
  max-width: 550px;
  height: 56px;
  background: #FBFBFB;
  border: 1px solid #DBDBDB;
  border-radius: 8px;
  padding: 10px;
}
label input[type=radio] {
  accent-color: #BE4E2E;
  width: 18px;
  height: 18px;
}
label input[type=checkbox] {
  accent-color: #BE4E2E;
  width: 18px;
  height: 18px;
}
label textarea {
  height: 100px;
}
label:last-child {
  margin-bottom: 0;
}

.invalid-msg {
  color: #BE4E2E;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 7px;
       column-gap: 7px;
  row-gap: unset;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
}

.invalid {
  color: #BE4E2E !important;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 7px;
  column-gap: 7px;
  row-gap: unset;
  display: none;
  margin-bottom: 0;
}

.invalid-input {
  border-color: #E2574C;
}

.main-border-bottom {
  border-bottom: 1px solid #DBDBDB;
}

.tag {
  background: #F9EEEB;
  border: 1px solid #E5B8AB;
  border-radius: 36px;
  padding: 6px 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 7.5px;
       column-gap: 7.5px;
  row-gap: unset;
}

.hover-img {
  transition: transform 0.4s ease-in-out;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.hover-img:hover {
  transform: scale(1.03);
}

nav .lower-nav-wrapper .lower-nav-container .search-bar-wrapper .search-dropdown {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60px;
  left: 0px;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 4px 20px rgba(83, 41, 3, 0.16);
  padding: 29px 22.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: unset;
  -moz-column-gap: 95px;
       column-gap: 95px;
  min-height: 375px;
  max-width: 890px;
  width: auto;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
  transition: opacity 0.3s, transform 0.5s, visibility 0.2s;
  transform: translateY(-100px);
}
@media (max-width: 992px) {
  nav .lower-nav-wrapper .lower-nav-container .search-bar-wrapper .search-dropdown {
    flex-direction: column;
    align-items: flex-start;
    -moz-column-gap: normal;
         column-gap: normal;
    row-gap: 40px;
  }
}
nav .lower-nav-wrapper .lower-nav-container .search-bar-wrapper .search-dropdown .categories h6 {
  margin-bottom: 18px;
}
nav .lower-nav-wrapper .lower-nav-container .search-bar-wrapper .search-dropdown .categories ul li {
  margin-bottom: 12.5px;
}
nav .lower-nav-wrapper .lower-nav-container .search-bar-wrapper .search-dropdown .categories ul li a:hover {
  text-decoration: underline;
  color: #8F3B23;
}
nav .lower-nav-wrapper .lower-nav-container .search-bar-wrapper .search-dropdown .categories ul li:last-child {
  margin-bottom: 0;
}
nav .lower-nav-wrapper .lower-nav-container .search-bar-wrapper .search-dropdown .best-sellers h6 {
  margin-bottom: 12px;
}
nav .lower-nav-wrapper .lower-nav-container .search-bar-wrapper .search-dropdown .best-sellers .products-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: unset;
  -moz-column-gap: 17px;
       column-gap: 17px;
  row-gap: 17px;
  flex-wrap: wrap;
  max-width: 565px;
}
nav .lower-nav-wrapper .lower-nav-container .search-bar-wrapper .search-dropdown .best-sellers .products-wrapper .product {
  border: 1px solid #EEEEEE;
  border-radius: 6px;
  padding: 18px 10px;
}
nav .lower-nav-wrapper .lower-nav-container .search-bar-wrapper .search-dropdown .best-sellers .products-wrapper .product figure img {
  margin: 0 auto 14px;
  display: block;
  width: 146px;
  height: 146px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
nav .lower-nav-wrapper .lower-nav-container .search-bar-wrapper .search-dropdown .best-sellers .products-wrapper .product figure figcaption .product-title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 122%;
  margin-bottom: 6px;
  max-width: 155px;
}
nav .lower-nav-wrapper .lower-nav-container .search-bar-wrapper:hover .search-dropdown {
  display: flex;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
nav .lower-nav-wrapper .lower-nav-container .search-bar-wrapper:hover .search-dd-icon {
  transform: rotate(180deg);
}
nav .lower-nav-wrapper .lower-nav-container .search-bar-wrapper:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.open-aside {
  z-index: 999;
  transform: translateX(0) !important;
  opacity: 1 !important;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  background: #FFF;
  box-shadow: 0px 4px 20px rgba(83, 41, 3, 0.16);
  padding: 27px 0px;
  min-width: 421px;
  min-height: 90vh;
  overflow-y: auto;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
@media (max-width: 576px) {
  aside {
    min-width: 100%;
  }
}
aside .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: unset;
  margin-bottom: 20px;
  padding: 0 25px;
}
aside .heading:hover {
  cursor: pointer;
}
aside .side-nav-categories .sub-category .hide {
  visibility: hidden;
}
aside .side-nav-categories .sub-category span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: unset;
  padding: 14px 25px;
  width: 100%;
  border-bottom: 1px solid #DBDBDB;
  cursor: pointer;
  position: relative;
  transition: visibility 0.3s ease-in-out;
}
aside .side-nav-categories .sub-category span:hover {
  background-color: #F2DCD5;
}
aside .side-nav-categories .sub-category .open-subcategory {
  transform: translateX(0) !important;
  opacity: 1 !important;
}
aside .side-nav-categories .sub-category .sub-categories {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
  padding: 27px 0px;
  background: #FFF;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
aside .side-nav-categories .sub-category .sub-categories h6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: unset;
  margin-bottom: 20px;
  padding: 0 25px;
}
aside .side-nav-categories .sub-category .sub-categories h6 .back-arrow {
  margin-right: 10px;
  display: block;
}
aside .side-nav-categories .sub-category .sub-categories h6 .back-arrow:hover {
  cursor: pointer;
}
aside .side-nav-categories .sub-category .sub-categories h6 .close-side-nav-fig {
  flex-grow: 1;
}
aside .side-nav-categories .sub-category .sub-categories h6 .close-side-nav-fig img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  margin-left: auto;
  display: block;
}
aside .side-nav-categories .sub-category .sub-categories h6 .close-side-nav-fig img:hover {
  cursor: pointer;
}
aside .side-nav-categories .sub-category .sub-categories li {
  padding: 14px 25px;
  width: 100%;
  border-bottom: 1px solid #DBDBDB;
  cursor: pointer;
  position: relative;
}
aside .side-nav-categories .sub-category .sub-categories li:hover {
  background-color: #F2DCD5;
}
aside .links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: unset;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 27px;
  border-top: 1px solid #EBEBEB;
  width: 80%;
  margin: 0 auto;
}
aside .links li a {
  white-space: nowrap;
}
aside .links li a:hover {
  text-decoration: underline;
}

.dropdown-parent .dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: unset;
  width: 100%;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.dropdown-parent .dropdown-wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.dropdown-parent img {
  transition: transform 0.3s ease-in-out;
}
.dropdown-parent .hidden {
  display: none;
}
.dropdown-parent .rotate-180 {
  transform: rotate(180deg);
}

.toggle-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in;
}

.active-toggle-wrapper {
  visibility: visible;
  opacity: 1;
}

.toggle-parent {
  position: relative;
}

.toggle-btn {
  transition: color 0.3s ease-in-out;
}

.out-view {
  transform: translateY(100px);
  transition: transform 0.7s ease-in-out;
}

.in-view {
  transform: translateY(0) !important;
}

.products-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 18px;
       column-gap: 18px;
  row-gap: 35px;
  flex-wrap: wrap;
}

.product-card {
  border: 1px solid #EEEEEE;
  border-radius: 6px;
  padding: 20px;
  width: -moz-fit-content;
  width: fit-content;
  background: #FFF;
  cursor: pointer;
}
@media (max-width: 992px) {
  .product-card {
    padding: 18px 14px;
  }
}
.product-card .img-wrapper {
  position: relative;
  overflow: hidden;
  transition: transform 0.4s ease-in-out;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.product-card .img-wrapper:hover {
  transform: scale(1.03);
}
.product-card .img-wrapper .product-image {
  display: block;
  border-radius: 6px;
  width: 240px;
  height: 235px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin: 0 auto 14px;
}
@media (max-width: 992px) {
  .product-card .img-wrapper .product-image {
    width: 150px;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}
.product-card .img-wrapper .badge {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0%;
  left: 0%;
  transform: translate(-22%, 32%) rotate(-40.83deg);
  background-color: #F2A124;
  text-align: center;
  line-height: 38px;
  width: 142px;
  height: 38px;
}
.product-card figcaption {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, min-content);
  -moz-column-gap: 6px;
       column-gap: 6px;
  row-gap: 6px;
  align-items: start;
  width: 235px;
}
@media (max-width: 992px) {
  .product-card figcaption {
    grid-template-columns: repeat(2, auto);
    width: 150px;
  }
}
.product-card figcaption .product-title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 122%;
  max-width: 184px;
}
@media (max-width: 992px) {
  .product-card figcaption .product-title {
    grid-column: 1/3;
    max-width: 150px;
  }
}
.product-card figcaption .rate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 5px;
       column-gap: 5px;
  row-gap: unset;
}
@media (max-width: 992px) {
  .product-card figcaption .rate {
    justify-content: flex-start;
  }
}
.product-card figcaption .rate .star {
  height: 20px;
  width: 20px;
  margin: 0;
}
@media (max-width: 992px) {
  .product-card figcaption .price {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
.product-card figcaption .add-product-to-cart {
  height: 19.5px;
  width: 21px;
  margin: 0;
  cursor: pointer;
  margin-left: auto;
}

/*****************************/
.product-alert {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: 23px;
  background: #FFF;
  border-radius: 6px;
  width: 100%;
  width: 600px;
  position: fixed;
  bottom: 10%;
  left: 10%;
  z-index: 999;
  padding: 30px;
}
.product-alert .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: unset;
  width: 100%;
}
.product-alert .product-alert__title {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  color: #000000;
}
.product-alert figure {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: unset;
  width: 100%;
}
.product-alert figure img {
  width: 128px;
  height: 128px;
}
.product-alert figure figcaption {
  max-width: 320px;
  width: 100%;
  display: block;
}
.product-alert figure figcaption .product-alert__new-tag {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #F2A124;
  border-radius: 42px;
  padding: 2.5px 5px;
  margin-bottom: 6px;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
}
.product-alert figure figcaption .product-alert__product-title {
  margin-bottom: 6px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.product-alert figure figcaption .product-alert__product-qty {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.product-alert figure figcaption .product-alert__product-price {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #BE4E2E;
}

.pop-up-visible {
  display: block !important;
}

.overlay-wrapper {
  display: none;
}
.overlay-wrapper .pop-up-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 998;
  background-color: rgba(229, 229, 229, 0.431372549);
}
.overlay-wrapper .pop-up {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 999;
  position: fixed;
  padding: 30px;
  height: -moz-fit-content;
  height: fit-content;
  width: 80%;
  max-width: 653px;
  background: #FFFFFF;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  -moz-column-gap: 5px;
       column-gap: 5px;
  row-gap: 20px;
  overflow-y: auto;
}
.overlay-wrapper .pop-up h5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: unset;
  width: 100%;
}
.overlay-wrapper .pop-up h5 img {
  cursor: pointer;
  width: 11px;
  height: 11px;
}
.overlay-wrapper .pop-up .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: unset;
  width: 100%;
}
.overlay-wrapper .pop-up label {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  -moz-column-gap: 5px;
       column-gap: 5px;
  row-gap: 5px;
  width: 100%;
  max-width: 100%;
}
.overlay-wrapper .pop-up label input {
  height: 56px;
}
.overlay-wrapper .pop-up label Textarea {
  height: 137px;
}
.overlay-wrapper .pop-up label input,
.overlay-wrapper .pop-up label Textarea {
  border: 1px solid #B8B8B8;
  border-radius: 8px;
  padding: 10px 15px;
  width: 100%;
  max-width: 100%;
  display: block;
}
.overlay-wrapper .pop-up .post {
  margin-left: auto;
  display: block;
  width: 97px;
  height: 56px;
}
.overlay-wrapper .pop-up ul li {
  list-style-type: disc;
  list-style-position: inside;
}

#bread-crumb {
  margin-bottom: 85px;
}
#bread-crumb .container ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: unset;
  flex-wrap: wrap;
}
#bread-crumb .container ul li img {
  margin-left: 10px;
}
#bread-crumb .container ul li a {
  white-space: nowrap;
}
#bread-crumb .container ul li a:hover {
  text-decoration: underline;
}
#bread-crumb .container ul .active {
  color: #BE4E2E;
  text-decoration: underline;
}
@media (max-width: 576px) {
  #bread-crumb .container ul .active {
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#categories {
  margin-bottom: 186px;
}
@media (max-width: 768px) {
  #categories {
    margin-bottom: 140px;
  }
}
#categories .categories-grid {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 18px;
       column-gap: 18px;
  row-gap: 21px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  #categories .categories-grid {
    row-gap: 18px;
  }
}
#categories .categories-grid .category-card {
  height: 200px;
  width: 290px;
  overflow: hidden;
  cursor: pointer;
}
#categories .categories-grid .category-card:hover {
  box-shadow: 0px 4px 20px rgba(83, 41, 3, 0.16);
}
@media (max-width: 768px) {
  #categories .categories-grid .category-card {
    height: 120px;
    width: 177px;
  }
}
#categories .categories-grid .category-card .out-view {
  transform: translateY(100%);
}
#categories .categories-grid .category-card figure {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: unset;
}
#categories .categories-grid .category-card img {
  width: auto;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  max-width: 80%;
  max-height: 80%;
  transition: transform 0.3s ease-in-out;
}

#mini-cart {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: fixed;
  top: 0;
  right: -6px;
  width: 90%;
  max-width: 670px;
  background-color: #FFF;
  padding: 29px 0px;
  height: 100vh;
  max-height: 1050px;
  z-index: 999;
}
@media (max-width: 768px) {
  #mini-cart {
    width: 100%;
  }
}
#mini-cart .mini-cart-heading {
  margin-bottom: 23px;
  padding: 0px 42px 18px;
}
#mini-cart .mini-cart-heading h5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: unset;
}
#mini-cart .shopping-bag-products {
  height: auto;
  max-height: 80%;
  overflow-y: auto;
  padding: 0px 42px;
}
#mini-cart .shopping-bag-products .product {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: unset;
  padding-bottom: 23px;
  padding-bottom: 23px;
  margin-bottom: 23px;
}
#mini-cart .shopping-bag-products .product img {
  width: 124px;
  height: 124px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 768px) {
  #mini-cart .shopping-bag-products .product img {
    width: 81px;
    height: 81px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}
#mini-cart .shopping-bag-products .product figcaption {
  width: 100%;
}
#mini-cart .shopping-bag-products .product figcaption p {
  margin-bottom: 28px;
}
@media (max-width: 768px) {
  #mini-cart .shopping-bag-products .product figcaption p {
    margin-bottom: 20px;
  }
}
#mini-cart .shopping-bag-products .product figcaption .controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: unset;
  width: 100%;
}
#mini-cart .shopping-bag-products .product figcaption .controls button img {
  width: 35px;
  height: 35px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#mini-cart .shopping-bag-products .product figcaption .controls .quantity {
  width: -moz-fit-content;
  width: fit-content;
}
#mini-cart .shopping-bag-products .product figcaption .controls .delete {
  margin-left: auto;
}
#mini-cart .shopping-bag-products .subtotal-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: unset;
  padding-bottom: 6px;
  margin-bottom: 33px;
}
#mini-cart .checkout-wrapper {
  padding: 29px 42px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #FFF;
}
#mini-cart .checkout-wrapper .main-btn {
  width: 100% !important;
  height: 55px;
  line-height: 55px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 auto;
}

#order-summary {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: fixed;
  top: 0;
  right: 0;
  width: 90%;
  max-width: 670px;
  background-color: #FFF;
  padding: 29px 0px 0px;
  z-index: 999;
  height: -moz-fit-content;
  height: fit-content;
  overflow-y: auto;
  max-height: 90vh;
  box-shadow: 0px 4px 20px rgba(83, 41, 3, 0.16);
}
@media (max-width: 768px) {
  #order-summary {
    width: 100%;
    min-height: 420px;
    max-height: 100vh;
    position: static;
    margin-bottom: 38px;
  }
}
#order-summary .order-summary-heading {
  margin-bottom: 20px;
  padding: 0px 42px 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: unset;
  flex-wrap: wrap;
}
#order-summary .order-summary-heading h5,
#order-summary .order-summary-heading p {
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 768px) {
  #order-summary .order-summary-heading h5 {
    display: none;
  }
}
#order-summary .order-summary-heading .question,
#order-summary .order-summary-heading .expand-order-summary {
  margin-left: auto !important;
}
#order-summary .order-summary-heading .items-num {
  width: 100%;
}
#order-summary .order-summary-heading .expand-order-summary {
  display: none;
}
@media (max-width: 768px) {
  #order-summary .order-summary-heading .expand-order-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    -moz-column-gap: unset;
         column-gap: unset;
    row-gap: unset;
    width: 100%;
  }
  #order-summary .order-summary-heading .expand-order-summary .subheader {
    display: block !important;
  }
  #order-summary .order-summary-heading .question {
    display: none;
  }
}
#order-summary .order-summary-products {
  overflow-y: auto;
  padding: 0px 42px;
  max-height: 35vh;
}
#order-summary .order-summary-products::-webkit-scrollbar {
  width: 6px;
}
#order-summary .order-summary-products::-webkit-scrollbar-track {
  background: #F2DCD5;
}
#order-summary .order-summary-products::-webkit-scrollbar-thumb {
  border-radius: 21px;
  background-color: #D89582;
}
#order-summary .order-summary-products::-webkit-scrollbar-thumb:hover {
  background: #8F3B23;
}
@media (max-width: 768px) {
  #order-summary .order-summary-products {
    max-height: 0;
    overflow-y: unset !important;
  }
  #order-summary .order-summary-products::-webkit-scrollbar {
    width: 0 !important;
  }
}
#order-summary .order-summary-products .product {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: unset;
  padding-bottom: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
#order-summary .order-summary-products .product img {
  width: 93px;
  height: 93px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 768px) {
  #order-summary .order-summary-products .product img {
    width: 81px;
    height: 81px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}
#order-summary .order-summary-products .product figcaption {
  width: 100%;
}
#order-summary .order-summary-products .product figcaption p {
  margin-bottom: 28px;
}
@media (max-width: 768px) {
  #order-summary .order-summary-products .product figcaption p {
    margin-bottom: 20px;
  }
}
#order-summary .order-summary-products .product figcaption .controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: unset;
  width: 100%;
}
#order-summary .order-summary-products .product figcaption .controls button img {
  width: 35px;
  height: 35px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#order-summary .order-summary-products .product figcaption .controls .quantity {
  width: -moz-fit-content;
  width: fit-content;
}
#order-summary .order-summary-products .product figcaption .controls .delete {
  margin-left: auto;
}
#order-summary .order-summary-products .subtotal-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: unset;
  padding-bottom: 6px;
  margin-bottom: 33px;
}
#order-summary .price-summary {
  padding: 30px 35px 20px;
  width: 100%;
  background: #FFF;
}
#order-summary .price-summary .promo-code-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: unset;
  padding: 0px 12px;
  width: 100%;
  height: 45px;
  border: 1px solid #DBDBDB;
  margin-bottom: 25px;
}
#order-summary .price-summary .price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: unset;
  width: 100%;
  margin-bottom: 8px;
}
#order-summary .price-summary .price-row .discount {
  color: #0DAA26;
}
#order-summary .price-summary .main-border-bottom {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
#order-summary .price-summary .total-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: unset;
}
#order-summary .price-summary .total-price .total {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 5px;
       column-gap: 5px;
  row-gap: unset;
}
#order-summary .main-btn {
  height: 55px;
  width: 90%;
  margin: 0 auto 50px;
  display: block;
}
@media (max-width: 768px) {
  #order-summary .main-btn {
    display: none;
  }
}

#layout {
  margin-bottom: 200px;
  overflow: hidden;
}
@media (max-width: 1400px) {
  #layout {
    margin-bottom: 115px;
  }
}
#layout .container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  -moz-column-gap: 130px;
       column-gap: 130px;
  row-gap: 40px;
}
@media (max-width: 1400px) {
  #layout .container {
    flex-direction: column;
  }
}

#account--main {
  width: 100%;
  max-width: 910px;
  position: relative;
}
#account--main .animate--div {
  position: absolute;
  width: 100%;
  max-width: 910px;
  top: 0;
}
#account--main label {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: right;
  text-transform: capitalize;
  color: #000000;
  align-items: flex-start;
  max-width: unset;
  width: 100%;
  margin-bottom: 20px;
}
#account--main label:last-of-type {
  margin-bottom: 0;
}
#account--main label input:not(input[type=checkbox]) {
  width: 100%;
  max-width: unset;
}
#account--main label input:not(input[type=checkbox])::-moz-placeholder {
  color: #717171 !important;
}
#account--main label input:not(input[type=checkbox])::placeholder {
  color: #717171 !important;
}

@media (max-width: 1400px) {
  #side-navigation--web {
    display: none;
  }
}
#side-navigation--web h3 {
  white-space: nowrap;
  margin-bottom: 40px;
}
#side-navigation--web ul li {
  width: 100%;
  margin-bottom: 10px;
}
#side-navigation--web ul li:last-child {
  margin-bottom: 0;
}
#side-navigation--web ul li a {
  padding: 12px 20px;
  text-align: left;
  width: 100%;
  display: block;
  border-radius: 6px;
}
#side-navigation--web ul li a:hover {
  background-color: #E5B8AB;
}
#side-navigation--web ul li .active {
  background-color: #E5B8AB;
}

#side-navigation--mob {
  display: none;
  width: 100%;
  max-width: 500px;
}
@media (max-width: 1400px) {
  #side-navigation--mob {
    display: block;
  }
}
#side-navigation--mob .active {
  padding: 12px 20px;
  text-align: left;
  width: 100%;
  border-radius: 6px;
  background-color: #E5B8AB;
}
#side-navigation--mob .dropdown-wrapper li {
  padding: 12px 20px;
  text-align: left;
  width: 100%;
  border-radius: 6px;
}
#side-navigation--mob .dropdown-wrapper li:hover {
  background-color: #E5B8AB;
}
#side-navigation--mob .dropdown-wrapper li a {
  display: block;
  width: 100%;
}
#side-navigation--mob .dropdown-wrapper li a:hover {
  text-decoration: underline;
}

.password-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: unset;
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  border-radius: 6px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  margin-bottom: 8px;
}
.password-input-wrapper input {
  background: none;
  border: none;
  border-radius: 0;
}

#layout {
  margin-bottom: 103px;
}
#layout .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  -moz-column-gap: 86px;
       column-gap: 86px;
  row-gap: 66px;
}
@media (max-width: 1200px) {
  #layout .container {
    flex-direction: column;
  }
}

#shopping-bag {
  width: 100%;
}
#shopping-bag h3 {
  margin-bottom: 7px;
}
#shopping-bag .sub-header {
  margin-bottom: 63px;
}
#shopping-bag .shopping-bag-products .product {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: unset;
  padding-bottom: 23px;
  padding-bottom: 23px;
  margin-bottom: 23px;
}
#shopping-bag .shopping-bag-products .product img {
  width: 124px;
  height: 124px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 768px) {
  #shopping-bag .shopping-bag-products .product img {
    width: 81px;
    height: 81px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}
#shopping-bag .shopping-bag-products .product figcaption {
  width: 100%;
}
#shopping-bag .shopping-bag-products .product figcaption p {
  margin-bottom: 28px;
}
@media (max-width: 768px) {
  #shopping-bag .shopping-bag-products .product figcaption p {
    margin-bottom: 20px;
  }
}
#shopping-bag .shopping-bag-products .product figcaption .controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: unset;
  width: 100%;
}
#shopping-bag .shopping-bag-products .product figcaption .controls button img {
  width: 35px;
  height: 35px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#shopping-bag .shopping-bag-products .product figcaption .controls .quantity {
  width: -moz-fit-content;
  width: fit-content;
}
#shopping-bag .shopping-bag-products .product figcaption .controls .delete {
  margin-left: auto;
}
#shopping-bag .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 70px;
       column-gap: 70px;
  row-gap: 66px;
}
@media (max-width: 768px) {
  #shopping-bag .row {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
#shopping-bag .row .payment-methods {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: 19px;
}
#shopping-bag .row .shopping-bag-subtotal-price {
  width: 100%;
  max-width: 464px;
}
@media (max-width: 768px) {
  #shopping-bag .row .shopping-bag-subtotal-price {
    max-width: unset;
  }
}
#shopping-bag .row .shopping-bag-subtotal-price .subtotal-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: unset;
  padding-bottom: 6px;
  margin-bottom: 33px;
}
#shopping-bag .row .shopping-bag-subtotal-price .main-btn {
  width: 100% !important;
  height: 55px;
  line-height: 55px;
  padding-top: 0;
  padding-bottom: 0;
}

#pepole-also-viewed h5 {
  margin-bottom: 16px;
}
@media (max-width: 1200px) {
  #pepole-also-viewed .products-column {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    -moz-column-gap: 16px;
         column-gap: 16px;
    row-gap: 12px;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=shopping-bag.css.map */